{% extends "admin/base_site.html" %}

{% block title %}
    Payment {{ order }}
{% endblock %}

{% block content %}
    <div class="module">
        <h1>پرداخت خدمت موردی  {{ order.id }} (پرسنل)</h1>
        {#        <ul class="object-tools">#}
        {#            <li>#}
        {#                <a href="#" onclick="window.print();">#}
        {#                    Print order#}
        {#                </a>#}
        {#            </li>#}
        {#        </ul>#}
        <h2>جزییات مالی خدمت موردی</h2>
        <table style="width: 100%">
            <tr>
                <th>خدمت</th>
                <td>{{ order.services }}</td>
            </tr>
            <tr>
                <th>کارفرما</th>
                <td>{{ order.client }} </td>
            </tr>
            <tr>
                <th>پرسنل</th>
                <td>
                    {{ order.assigned_personnel }}
                </td>
            </tr>
            <tr>
                <th>هزینه کل خدمت (بدون تخفیف)</th>
                <td>
                    {{ order.total_order_cost }}
                </td>
            </tr>
            <tr>
                <th>هزینه کل خدمت (با اعمال تخفیف)</th>
                <td>
                    {{ order.total_order_cost_after_discount }}
                </td>
            </tr>
            <tr>
                <th>تخفیف</th>
                <td>
                    {{ order.discount }}
                </td>
            </tr>
            <tr>
                <th>سهم پرسنل</th>
                <td>{{ order.personnel_share }}</td>
            </tr>
            <tr>
                <th>مانده قابل پرداخت</th>
                <td>{{ order.personnel_remaining_payable }}</td>
            </tr>
        </table>
    </div>
    <div class="module">
        <h2 class="background-color:green">پرداخت جدید</h2>
        <form action="{% url 'admin:order_personnel_payment' order.id %}" method="post">
            {% csrf_token %}
            {{ form.media }}
            <table style="width: 100%">
                {% for non_field_error in form.non_field_errors %}
                    <p class="errornote">
                        {{ non_field_error }}
                    </p> 
                {% endfor %}
                {% for field in form %}

                    <tr>
                        <th>{{ field.label }}</th>
                        <td>
                            {{ field }}
                            {% for error in field.errors %}
                                <ul class="help errorlist">
                                    <li>{{ error }}</li>
                                </ul>
                            {% endfor %}
                            
                        </td>
                    </tr>


                    {#                <div class="field">#}
                    {#                    <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>#}
                    {#                    {{ field }}#}
                    {#                </div>#}
                {% endfor %}
            </table>
            <input style="margin-top: 10px" type="submit" value="ثبت">

            <input disabled style="margin-top:10px;background-color: #0e9f6e" type="submit" value="ثبت و بستن پرونده مالی خدمت">


        </form>


    </div>
    <div class="module">
        <h2>تاریخچه پرداخت های خدمت</h2>
        <table style="width:100%">
            <thead>
            <tr>
                <th>مبلغ پرداخت شده</th>
                <th>تاریخ پرداخت</th>
                <th>توضیحات</th>
                <th>عملیات</th>

            </tr>
            </thead>
            <tbody>
            {% for record in payment_records %}
                <tr class="row{% cycle "1" "2" %}">

                    <td>{{ record.paid_amount }}</td>
                    <td>{{ record.paid_at }}</td>
                    <td>{{ record.payment_desc }}</td>
                    <td>
                        <a href="{% url 'admin:order_personnel_payment_remove' order.id record.id %}">حذف</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}